@page "/boten"

<PageTitle>Boten</PageTitle>
@using Kbs.Business.Boat
@using Kbs.Business.Damage

@inject IBoatRepository BoatRepository
@inject IDamageRepository DamageRepository

<div class="row">
    <h1 class="col-4">Boten</h1>
    <div class="col-4">
        <a href="/boten/aanmaken" class="btn btn-primary">Boot aanmaken</a>
    </div>
</div>


<table class="table">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Status</th>
        <th>Heeft schade</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var boat in _boats)
    {
        <tr>
            <td>
                <a href="/boten/@boat.BoatId">@boat.Name</a>
            </td>
            <td>@boat.Status.ToDutchString()</td>
            @if (DamageRepository.HasDamage(boat))
            {
                <td style="color: red;">Ja</td>
            }
            else
            {
                <td style="color: darkgreen;">Nee</td>
            }
        </tr>
    }
    </tbody>
</table>

@code {
    private List<BoatEntity> _boats = new();

    protected override void OnInitialized()
    {
        _boats = BoatRepository.GetMany();
    }

}