@page "/gebruikers"
@attribute [Authorize(Roles = "Wedstrijdcommissaris")]
@using Kbs.Business.User
@inject IUserRepository UserRepository

<PageTitle>Gebruikers</PageTitle>

<h1>Gebruikers</h1>


<div class="row d-flex justify-content-start">
    @foreach (var user in _users)
    {
        string name = user.Name;
        if (string.IsNullOrWhiteSpace(name)) name = user.Email;
        <Card Title="@name" SubTitle="@user.Email">
            <div class="row">
                @if (user.Is(UserRole.Banned))
                {
                    <span class="col-12 text-danger">@user.Role.ToDutchString()</span>
                }
                else
                {
                    <span class="col-12">@user.Role.ToDutchString()</span>
                }

                <a href="/gebruikers/@user.UserId" class="btn btn-primary">Details</a>
            </div>
          
        </Card>
    }

</div>

@code {
    private List<UserEntity> _users = new();

    protected override void OnInitialized()
    {
        _users = UserRepository.Get();
    }

}