@page "/parcours"
@attribute [Authorize(Roles = "Wedstrijdcommissaris")]
@using Kbs.Business.Course
@inject ICourseRepository CourseRepository

<PageTitle>Parcours</PageTitle>
<h1 class="col-4">Parcours</h1>
<div class="row">
    <div class="col-4">
        <a href="/parcours/aanmaken" class="btn btn-primary">Parcours aanmaken</a>
    </div>
</div>

<div class="row d-flex justify-content-start">
    @foreach (var course in _courses)
    {
        <Card Title="@course.Name">
            <p class="text-muted">
                @if (string.IsNullOrWhiteSpace(course.Description))
                {
                    <i>Geen beschrijving beschikbaar</i>
                }
                else
                {
                    @course.Description[Math.Min(200, course.Description.Length)..]
                }
            </p>
            <a href="/parcours/@course.CourseId" class="btn btn-primary" >Details</a>
        </Card>
    }
</div>

@code {
    private List<CourseEntity> _courses = new();

    protected override void OnInitialized()
    {
        _courses = CourseRepository.GetAll();
    }

}