@page "/parcours"

<PageTitle>Wedstrijden</PageTitle>
@using Kbs.Business.Game
@inject IGameRepository GameRepository

<h1>Wedstrijden</h1>

<table class="table">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Beschrijving</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var boatType in _boatTypes)
    {
        <tr>
            <td>@boatType.Name</td>
                <td>@boatType.Date.ToDutchString()</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<GameEntity> _boatTypes = new();

    protected override void OnInitialized()
    {
        _boatTypes = GameRepository.GetMany();
    }

}