@page "/wedstrijden"
@attribute [Authorize(Roles = "Wedstrijdcommissaris")]
@using Kbs.Business.Game
@inject IGameRepository GameRepository

<PageTitle>Wedstrijden</PageTitle>

<div class="row">
    <h1 class="col-4">Wedstrijden</h1>
    <div class="col-4">
        <a href="/wedstrijden/aanmaken" class="btn btn-primary">Wedstrijd aanmaken</a>
    </div>
</div>

<div class="row d-flex justify-content-start">
    @foreach (var game in _games)
    {
        <Card Title="@game.Name" SubTitle="@game.Date.ToDutchString()">
            <a href="/wedstrijden/@game.GameId" class="btn btn-primary">Details</a>
        </Card>
    }
</div>

@code {
    private List<GameEntity> _games = new();

    protected override void OnInitialized()
    {
        _games = GameRepository.GetMany();
    }

}