@page "/wedstrijden"

<PageTitle>Wedstrijden</PageTitle>
@using Kbs.Business.Game
@inject IGameRepository GameRepository

<h1>Wedstrijden</h1>

<table class="table">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Beschrijving</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var game in _games)
    {
        <tr>
            <td>@game.Name</td>
            <td>@game.Date.ToDutchString()</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<GameEntity> _games = new();

    protected override void OnInitialized()
    {
        _games = GameRepository.GetMany();
    }

}